!!! 5
%html
  %head   
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
  %body
    Wilkommen zu rapture 
    = @user.full_name
    %br
    Kürzlich wurde ein Account für Sie erstellt.
    %p
    Um das grosse Abenteuer zu starten müssen Sie nur auf den unten dargestellten Link klicken.
    %br
    Nach dem Einloggen können Sie auf ihren Namen klicken, um persönliche Einstellungen vorzunehmen.
    %p
    = link_to @url, @url
    %hr
    Ihre Account-Daten:
    %p
    Benutzername:
    = @user.username
    %p
    Passwort:
    = @user.password