%ul
  %li
    Benutzereinstellungen
    %span
      %button.toggle_button#togglebutton_user anzeigen
    %hr.fat
    = render 'users/shared/user_settings'
  %li
    Spracheinstellungen
    %span
      %button.toggle_button#togglebutton_language anzeigen
    %hr.fat
    = render 'users/shared/language_settings'
  %li
    Ländereinstellungen
    %span
      %button.toggle_button#togglebutton_country anzeigen
    %hr.fat
    = render 'users/shared/country_settings'
  %li
    Weitere Einstellungen
    %span
      %button.toggle_button#togglebutton_further anzeigen
    %hr.fat
    = render 'users/shared/further_settings'