%h1 Passwort vergessen?

.form
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = f.error_notification
    .field
      = f.input :email, :required => false
  
    .actions
      = f.button :submit, "Instruktionen senden"