#contact_people.column_half
  = f.simple_fields_for :contact_people do |builder|
    = render 'contact_people/contact_person_fields', :f => builder
  = link_to_add_fields "Person hinzufügen", :contact_people, f