%h1
  Alle Kunden

.actions
  - if can? :create, Customer  
    .new_customer    
      = link_to 'neuen Kunden erfassen', new_customer_path()
%hr

%ul.pagination
  %strong Springen zu:
  - Customer.pagination_letters.each do |letter|
    %li
      = link_to letter, customers_path(:letter => letter)

#customers
  .customers.round
    = render 'customers/shared/display_customers'