%h1.column_left
  Alle Kunden

.column_right.actions
  - if can? :create, Customer  
    .new_action    
      = button_to 'neuen Kunden erfassen', new_customer_path(), :method => :get

  #export_as_csv
    = button_to "EXCEL", download_customers_path, :method => 'post'
%hr

%ul.pagination
  %strong Springen zu:
  - Customer.pagination_letters.each do |letter|
    %li
      = link_to letter, customers_path(:letter => letter)

#customers
  .customers.round
    = render 'customers/shared/display_customers'