%h1
  = @customer.company
  
.export_as_csv
  = button_to "export as CSV", root_path

= render 'customers/shared/detailed_customer_info'
%br
- if can? :update, Customer
  = link_to "editieren", edit_customer_path(@customer)