%h1
  = @customer.company
  -if @customer.new?
    = image_tag ("new.gif")

= render 'customers/shared/detailed_customer_info'
%br
.edit
  - if can? :update, Customer
    = link_to "editieren", edit_customer_path(@customer)