html, body {
	overflow: auto;
}

nav, section {
	font-size: 120%;
}

nav {
	font-size: 200%;
	font-weight: bold;
	white-space: nowrap;
	margin-bottom: 5px;
	
	a {
		padding: 0 5px;
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;
		}
	}
}

.button_cancel {
	float: right;
	width: auto;
}

.column_left {
	width: 50%;
	float: left;
}

.column_right {
	float: right;
}

#left {
	float: left;
}

#right {
	float: right;
	font-size: 120%;
	margin-top: 10px;
}

#submit {
	width: auto;
	margin-top: 20px;
	float: right;
}

.fat {
	font-weight: bold;
	height: 3px;
}

.spaced {
	margin-top: 5px;
	margin-top: 5px;
}

section {
	margin-top: 20px;
	hr {
		height: 1px;
	}
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

.container {
	margin-top: 20px;
}

.person_info {
	width: 50%;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			.column_left {
				width: 40%;
				font-weight: bold;
			}
			.column_right {
				width: 60%;
				text-align: right;
			}
		}
	}
}

// Simple form

.form {
  width: 65%;
}

.simple_form {
	
	.column_left {
		float: left;
		display: inline-block;
		width: 40%;
	}
	
	.column_right {
		float: right;
		display: inline-block;
		width: 60%;
	}

  input {
		float: right;
		width: 60%;
  }
  
  select {
		width: 30%;
  }

	.button {
		width: auto;
	}

	.field {
		margin-bottom: 15px;
	}

	.select {
		margin-bottom: 55px;
	}
	
	.field_with_errors {
		
		border: solid thin red;
		padding: 10px;
		
		.error {
			width: 50%;
			border: none;
			background-color: white;
			font-family: sans-serif;
			color: red;
			position: relative;
			top: 5px;
			left: 110px;
		}
		
	}

}

.current_user {
	margin-right: 10px;
}

.new_action {
}

/* ----- Additional SimpleForm Styles ----- */

.simple_form {
  div.input {
    margin-bottom: 10px
	}
	
  .label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
	}
	
  .error {
    clear:   left;
    color:   black;
    display: block;
    margin-left: 120px;
    font-size:    12px;
	}

  .hint {
    clear: left;
    margin-left: 120px;
    font-size:    12px;
    color: #555;
    display: block;
    font-style: italic;
	}
}

div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.collection_radio {
	margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
	position: relative;
	margin-right: 10px;
}

label.collection_check_boxes {
  float: none;
	position: relative;
	font-weight: normal;
}

.assoc_items {
	input {
		width: auto;
	}
	float: none;
	position: relative;
	display: block;
	left: 260px;
	top: -20px;
	width: 100px;
}