// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// New page

.customer_form {
  width: 50%;
}

// Index page

.customer {
	padding-top: 5px;
	padding-bottom: 5px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;
			width: 230px;
		}
	}
}

.company_column {
	margin-left: 10px;
}

.edit_column {
	text-align: right;
}

.actions {
	overflow: auto;
	margin-bottom: 10px;
}

.search_function {
	float:left;
}

.new_customer {
	float: right;
}

// Show page

.customer_info {
	width: 45%;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			.column_left {
				font-weight: bold;
				width: 300px;
			}
			.column_right {
				float: right;
			}
		}
	}
}

// For pagination 

ul.pagination {
	text-align: center;
  list-style: none;
  color: #D8D8D8;
  padding: 1em 0.5em;
}

ul.pagination strong {
  color: black;
}

ul.pagination li {
  display: inline;
  font-size: 1.1em;
}

ul.pagination li:before {
  content: '| ';
}