// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index page

.customer {
	padding-top: 5px;
	padding-bottom: 5px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;
		}
	}
}

.company_column {
	width: 26%;
}

.phone_column {
	width: 26%;
}

.email_column {
	width: 26%;
}

.edit_column {
	width: 10%;
}

.checkbox_column {
	float:right;
	width: 6%;
}

.actions {
	width: auto;
	overflow: auto;
	margin-top: 10px;
	.new_action {
		float: left;
	}
	#export_as_csv {
		margin-left: 10px;
		float: left;
	}
}

.search_function {
	float: left;
}

// Show page

.addresses {
	overflow: auto;
}

.address {
	width: 33.3%;
	min-height: 100px;
	float: left;
}

.new {
	margin-left: 5px;
}

// For pagination 

ul.pagination {
	text-align: center;
  list-style: none;
  color: #D8D8D8;
  padding: 1em 0.5em;
}

ul.pagination strong {
  color: black;
}

ul.pagination li {
  display: inline;
  font-size: 1.1em;
}

ul.pagination li:before {
  content: '| ';
}