// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  width: 500px;
}

.field {
	margin-bottom: 15px;
}
  

.simple_form {
  
  input {
    float: right;
  }
  
  select {
    margin-left: 80px;
  }
  
  #submit {

  }
  
  
}