html, body {
	overflow: auto;
}

nav, section {
	font-size: 120%;
}

nav {
	float:right;
	margin-top: 20px;
	font-size: 150%;
	font-weight: bold;
	white-space: nowrap;
	
	a {
		padding: 0 5px;
		font-weight: bold;
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;
		}
	}
	
}

hr {
	height: 3px;
}

section {
	margin-top: 20px;
	hr {
		height: 1px;
	}
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

.form {
  width: 50%;
}

// Simple form

.simple_form {

  input {
    float: right;
  }
  
  select {
    margin-left: 63px;
  }
  
  #submit {
		margin-top: 20px;
		float: left;
  }

.field {
	margin-bottom: 15px;
}

	.field_with_errors {
		border: solid;
		border-color: red;
		padding-right: 15px;
		padding-left: 15px;
		
		
		.error {
			color: red;
			background-color: white;
			border: none;
		}
	}
}

.current_user {
	margin-right: 10px;
}

