
// index page

.user {
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;
		}
	}
}

.username_column {
	margin-left: 10px;
	width: 280px;
}

.email_column {
	width: 280px;
}

.roles_column {
	width: 280px;
}

.edit_column {
	width: 80px;
	float: right;
	text-align: right;
}

// show page

.user_info {
	width: 45%;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			.column_left {
				font-weight: bold;
				width: 300px;
			}
			.column_right {
				float: right;
			}
		}
	}
}