// index page

.user {
	padding-top: 5px;
	padding-bottom: 5px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;
		}
	}
}

//settings

.username_column {
	margin-left: 10px;
	width: 29%;
}

.email_column {
	width: 29%;
}

.roles_column {
	width: 29%;
}

.edit_column {
	width: 10%;
	float: right;
	text-align: right;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}

.toggle_button {
	float: right;
}

.settings {
	border: solid thin black;
	padding: 10px;
	margin: 10px;
}