%p Hallo #{@resource.email}!

%p
  Sie haben diese E-mail Adresse angegeben, um das Passwort für Ihren Rapture-Account zu ändern. Bitte klicken Sie auf den Link unten, um das Passwort zu ändern.
  
%p
  = link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Bitte löschen Sie diese E-mail, falls Sie diese nicht angefordert haben.