%nav.round
  %ul
    %li
      = link_to "Home", root_path
    - if signed_in?
      %li
        = link_to "Ausloggen", signout_path, :method => :delete
    - else
      %li
        = link_to "Einloggen", signin_path
%hr