
%nav.round
  %ul
    %li.current_user
      - if current_user
        Eingeloggt als
        = link_to "#{current_user.full_name}", current_user
    %li
      = link_to "Home", root_path
    
    / -if can? :read , User
    /   %li
    /     = link_to "Benutzer", users_path
    / - if signed_in?
    /   %li
    /     = link_to "Ausloggen", signout_path, :method => :delete
    / - else
    /   %li
    /     = link_to "Einloggen", signin_path
%hr